* {
  --sb-track-color: #00000000;
  --sb-thumb-color: var(--font-color-secondary-flierly);
  --sb-size: 5px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
  margin: 10px 0px 10px 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
}

.custom-scrollbar-display::-webkit-scrollbar-thumb {
  background: #00000000;
}

.custom-scrollbar-display:hover::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

.sb-thumb-md::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sb-thumb-lg::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.no-scrollbar {
  overflow: auto; /* Enable scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.hiddenLabel {
  opacity: 0;
  color: var(--bg-color-primary-flierly);
}

.centerAbsolute {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 38px;
  margin-left: -16px;
  margin-top: -19px;
}
.whiteBox {
  background: var(--bg-color-primary-flierly);
  border-radius: 6px;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.shadow {
  box-shadow: 0px 0px 20px 3px var(--box-shadow-primary-15-flierly);
}
.shadow:hover {
  box-shadow: 0px 0px 30px 8px var(--box-shadow-primary-25-flierly);
}
.line {
  border-top: 1px solid var(--border-color-primary-flierly);
  width: 100%;
  margin: 5px auto;
}

.left {
  float: left;
}
.right {
  float: right;
}

.pad5 {
  padding: 5px;
}
.pad10 {
  padding: 10px;
}
.pad15 {
  padding: 15px;
}
.pad20 {
  padding: 20px;
}
.pad25 {
  padding: 25px;
}
.pad30 {
  padding: 30px;
}
.pad33 {
  padding: 35px;
}
.pad40 {
  padding: 40px;
}

.mrg5 {
  margin: 5px;
}
.mrg10 {
  margin: 10px;
}
.mrg15 {
  margin: 15px;
}
.mrg20 {
  margin: 20px;
}
.mrg25 {
  margin: 20px;
}
.mrg30 {
  margin: 20px;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

.center {
  justify-content: center;
}

.strong {
  font-weight: 700;
}

.space5 {
  height: 5px;
  width: 100%;
  display: block;
}
.space10 {
  height: 10px;
  width: 100%;
  display: block;
}
.space20 {
  height: 20px;
  width: 100%;
  display: block;
}
.space30 {
  height: 30px;
  width: 100%;
  display: block;
}
.space40 {
  height: 40px;
  width: 100%;
  display: block;
}
.space50 {
  height: 50px;
  width: 100%;
  display: block;
}
.space60 {
  height: 60px;
  width: 100%;
  display: block;
}
.space70 {
  height: 70px;
  width: 100%;
  display: block;
}

.w-full {
  width: 100%;
}

.circle {
  border-radius: 50%;
}

.capitalize {
  text-transform: capitalize;
}

.layoutPadding {
  position: relative;
  padding: 50px 40px;
}

.dashboardSpacing {
  padding: 30px 40px;
  margin: 70px auto;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@media only screen and (min-width: 1100px) {
  .hidden-lg {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-md {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .hidden-sm {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .layoutPadding {
    padding: 50px 20px;
  }

  .dashboardSpacing {
    padding: 30px 20px;
    margin: 70px auto;
  }
}
