.ant-layout,
.ant-row,
.ant-col,
.ant-layout-header {
  background: var(--bg-color-primary-lite-flierly) !important;
}

.ant-notification-notice-wrapper,
.ant-notification-notice {
  background: var(--bg-color-primary-lite-flierly) !important;
  color: var(--font-color-primary-flierly) !important;
  border-radius: 10px !important;
}

.ant-notification-notice-wrapper {
  box-shadow: var(--antd-box-shadow-one) !important;
}

.ant-notification-notice-description,
.ant-notification-notice-message {
  color: var(--font-color-primary-flierly) !important;
}

.ant-notification-notice-close {
  color: var(--color-one-flierly) !important;
}

.ant-notification-notice-close:hover {
  color: var(--font-color-primary-flierly) !important;
}

.site-layout .site-layout-background {
  background: var(--bg-color-primary-flierly);
}

.ant-layout .ant-layout-sider-light .ant-layout-sider-trigger {
  /* background: none !important; */
  border-radius: 6px !important;
  border: none !important;
  margin-top: -10px !important;
}

.ant-layout-sider-trigger {
  background: var(--bg-color-primary-flierly);
  border-top: 1px solid var(--border-color-primary-flierly);
  border-right: 1px solid var(--border-color-primary-flierly);
  color: var(--font-color-secondary-flierly);
}

.ant-layout-sider-zero-width-trigger {
  top: 5px;
  right: 10px;
  color: var(--color-two-flierly);
  background: none;
  font-size: 20px;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border: none !important;
}

.headerIcon .ant-dropdown-menu {
  border-radius: 6px;
  background: none;
  padding: 0;
  box-shadow: none;
}

.headerIcon .ant-dropdown-menu-item:hover,
.headerIcon .ant-dropdown-menu-item.ant-dropdown-menu-item-active {
  background: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.auth-form button[type="submit"] {
  margin-bottom: 20px;
}

.float-right-line-normal-pt-2 {
  float: right;
  line-height: normal;
  padding-top: 2px;
}

.auth-form-button {
  width: 100%;
}

.ant-table-thead > tr > th {
  font-weight: 700;
}

.ant-typography strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

.ant-menu-inline {
  padding-bottom: 70px;
}

.tabContent .ant-tabs-right > .ant-tabs-content-holder,
.tabContent .ant-tabs-right > div > .ant-tabs-content-holder {
  border-right: none;
}

.tabContent .ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
}

.ant-select-show-search:where(
    .css-dev-only-do-not-override-2q8sxy
  ).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  cursor: pointer;
}

.ant-menu-item {
  height: 36px !important;
}

@media (max-width: 768px) {
  .tabContent
    .ant-tabs-right
    > .ant-tabs-content-holder
    > .ant-tabs-content
    > .ant-tabs-tabpane {
    padding-right: 0;
    margin-top: 30px;
  }

  .tabContent .ant-tabs {
    display: block;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
