.notification::-webkit-scrollbar {
  width: 4px;
  height: 60px;
}
.notification::-webkit-scrollbar-thumb {
  background: var(--bg-color-nofication-scroll-bar);
  border-radius: 4px;
}

.header-icon {
  position: relative;
}

.header-icon.ant-avatar {
  float: right;
  margin-top: 5px;
  color: var(--font-color-secondary-flierly);
  background: transparent;
}
.header-icon.ant-avatar :hover {
  background: var(--bg-color-primary-flierly);
  box-shadow: 0px 0px 10px 4px var(--box-shadow-primary-30-flierly);
  cursor: pointer;
}

.header-icon .last {
  margin-right: 30px;
}

.user-details {
  display: flex;
  min-width: 200px;
}
.user-info {
  float: left;
  display: inline;
  padding-left: 15px;
}

.user-info p {
  margin: 0;
}
