PORT=3008
NODE_ENV=development
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=jwt-secretsdfsdfdsfdsf
DOMAIN_NAME=http://localhost:3000
CORS_ORIGINS=http://localhost:5173,http://localhost:4173
HTTPS=false